.booking-edit-container{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.edit-booking-form{
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
    align-items: center;
    justify-content: center;
    width: max-content;
}

.booking-edit{
    
    text-align: center;
    justify-content: center;

}