.spot-listpage-container{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.spot-list-container{

    margin-top: 50px;
    border:5px double #717171;
}
.spot-list{

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 200px;
    justify-content: center;
    overflow: auto;
 
}

.spot-button-create{
    display:block; 
    padding: 10px;
    text-align: center;
    cursor: pointer;
    display: block;
}