.spot-listpage-container{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;

}

.spot-list-container{
    display: inline-block;
    margin: auto;

}
.spot-list{

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    justify-content: center;
    margin: auto;

}

.spot-button-create{
    display:block; 
    padding: 10px;
    text-align: center;
    cursor: pointer;
    display: block;
}