.spot-container{
    display:block;
    text-align: center;
    

}


.spot-button-create{
    display:block; 
    margin: auto;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
.spot-listpage-container{

    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    

}

.spot-list-container{
 width: 50%;
 margin: auto;

}
.spot-list{

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    justify-content: center;

}
