.spot-item-container{
    display:block;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    width: auto;
    height: auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;

}


.spot-item-name{
    display:block;
    font-weight: bold;
}

.spot-previewImage{

    width: 200px;
    height: 200px;
}