.booking-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.booking-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}