
.booking-container{
    display: flex;
    flex-direction: column;
    align-items: center;  
    width: 100%;

}

.booking-detail{
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
    align-items: center;
    justify-content: center;
    width: max-content;

}
.booking-detail-image{
    display: block;
    margin-bottom: 30px;
    max-width: 50%;
    max-height: fit-content;
    border-radius: 15px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
div.booking-detail > input, div.booking-detail > input:focus , div.booking-detail > input:active{
    border: none;
}