@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO Add site wide styles */
#page-container {
    min-height: calc(100vh - 100px);
    margin-bottom: 10px;
}

/* ul, li{
    list-style: none;
    margin: 10px;
}

ul.errorMsg {
    color:red;
    font-style: italic;
}

button {
    color:white;
    background-color: #FF3366;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: max-content;
    cursor: pointer;
    box-shadow:1px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */