.nav-container{

    border-bottom: 1px grey dotted;
}
.link-container{

    display: inline;
    float: right;
    padding: 25px 20px 5px 5px;


}

.airbnb-logo{
    display: inline;
}

ul, li{
    list-style: none;
    margin: 10px;
}

ul.profile-dropdown > li:hover{

    background-color: rgb(230, 227, 227);
    cursor: pointer;
}

button {
    color:white;
    background-color: #FF3366;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: max-content;
    cursor: pointer;
    box-shadow:3px 3px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    box-shadow: 0 4px 8px 0 

.button:hover{
    background-color:rgb(230, 227, 227); ;
}
.button:active {
    background-color: #FF3366;
    box-shadow: 0 5px rgb(230, 227, 227);
    transform: translateY(10px);
}

.profile-container{
    display: block;
}
.profile-button{
    width: 100px;
    height: 30px;
    background-color: #FF3366;
    cursor: pointer;
    margin: 0;
    border: 50px black;
    border-radius: 21px;
    transition: box-shadow 0.2s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.profile-dropdown{
    color:#717171;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    /* padding: 10px; */
    padding-left: 0px;
    width: 150px;
    transform: translateX(-60px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
}